body{
    /* height: 100vh; */
    /* font-family: 'Times New Roman', Times, serif; */
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

ul{
    display: flex;
    list-style: none;    
    margin: 0;
    padding:0;
    gap: 15px;
}

.left-side{
    font-size: 24px;
    color: #f9faf8;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    color:#F9FAF8;
    height: 80px;
    align-items: center;
    padding: 0px 100px;
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 100px;
}


.hero-title{
    color:#F9FAF8;
    font-weight: bolder;
    font-size: 48px;
}
.hero-text{
    color: #e5e7eb;
    font-size: 24px;
}
button{
    margin-top: 10px;
    padding: 8px 25px;
    border-radius: 8px;
    background: #3883F6;
    flex-shrink: 0;
    color:white;
}

.container{
text-align: center;
display: flex;
align-items: baseline;
justify-content: center;
gap: 15px;
padding-bottom: 30px
}
.info{
    max-width: 150px;
}
.rounded-covers{
    border-radius: 25px;
    border: 5px solid goldenrod;
}
.rounded-logo{
    border-radius: 5px;
    
}

.info-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    margin-bottom: 30px;
    text-align: center;
    padding: 25px;
}

.quote-section{
    background-color: #e5e7eb;
    text-align: center;
    display:flex;
    align-items: center;
    padding: 0px  150px;
}
blockquote p{
    font-size: 36px;
    font-style: italic;
}
figcaption{
    font-weight: bolder;
    font-size: larger;
    text-align: right;
}

.test{
    display: flex;
    justify-content: center;
    align-self: center;
}

.call-to-action{
    background: #3883F6;
    margin: 50px  200px;
    border-radius: 5px;
    padding: 10px 80px;
    display: flex;
    color: white;
    align-items: center;
    
}
.CTA-text{
    text-align: left;
    flex: 1;
}
.CTA-text p{
    margin: 5px 30px 30px 50px;
}
.CTA-text h3{
    margin: 30px 0px 0px 50px;
}

.cta-button{
    border-color: white;
    border-radius: 8px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    height: 80px;
    background-color: #1F2937;
    color: #F9FAF8
    
}